.cabecalho__menu__hamburguer {
  width: 48px;
  height: 48px;
  background-image: url("../../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    /*espaça o os icon para esqueda e direita*/
    justify-content: space-between;
    align-items: center;
    /*com o positio relative libera mexer no top bottom ect*/
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__img {
    padding: 0.8em;
}

.lista__menu {
    /*lista desaparece*/
    display: none;
    /*permite que movimente o elemento diacordo com o pai*/
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista__menu__link {
    text-decoration: none;
    background: var( --azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

/*se o botão estiver checked ele vai transfomar o display em block
fazendo com que a lista apareça*/
.container__botao:checked~.lista__menu {
    display: block;
}

.lista__menu__titulo, .lista__menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista__menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.container__botao {
    display: none;
}

